.idea/
.DS_Store
__pycache__/
.ipynb_checkpoints/
.vscode/
MarchingCubes/eigen/
*.txt
Makefile
*.cmake
report/sampleTrainingBench/*.jpg
MarchingCubes/latentInterp/*.off
MarchingCubes/bld/*
MarchingCubes/debug/*
training/.ipynb_checkpoints
evaluation/.ipynb_checkpoints
*.pt
MarchingCubes/am_final
*.pth
*.aux
*.fls
*.log
*.gz
*.xz
